.Head {
  text-align: center;
  margin: 5px;
}

.Links {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.Link {
  margin: 1% 2%;
  cursor: pointer;
  color: #d3d3d3;
}

.Link:hover,
.Link:focus {
  color: #fffafa;
}

.ActiveLink {
  margin: 1% 2%;
  color: white;
  border-bottom: 2px solid white;
  cursor: not-allowed;
}

.Content {
  background: #f5f5f5;
  height: 1200px;
}

.Wrapper {
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 0 2%;
}

.Cul {
  background: #f5f5f5 url('../img/cul-mob.jpg') no-repeat;
  height: 1200px;
  transition-duration: .5s;
}

.Bkad {
  background: #f5f5f5 url('../img/bkad-mob.jpg') no-repeat;
  height: 1200px;
  transition-duration: .5s;
}

.DigEco {
  background: #f5f5f5 url('../img/digeco-mob.jpg') no-repeat;
  height: 1300px;
  transition-duration: .5s;
}

.Button {
  border-radius: 25px;
  margin: auto 1%;
  padding: 2%;
}

.News {
  margin: 2% 5%;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.News:hover {
  box-shadow: 0 0 20px grey;
}

.NewsButton {
  padding: 10px;
  background-color: #000;
  color: #fff;
}

.NewsButtonHidden {
  display: none;
}

.NewsLink {
  text-decoration:none;
  color:black;
}

@media (min-width: 1200px) {
  .Head {
    text-align: center;
    margin: 5px;
  }

  .Links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
  }

  .Content {
    background: #f5f5f5;
    height: 700px;
  }

  .Wrapper {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 0 2%;
  }

  .Cul {
    background: #f5f5f5 url('../img/cul.jpg') no-repeat;
    height: 700px;
  }

  .Bkad {
    background: #f5f5f5 url('../img/bkad.jpg') no-repeat;
    height: 700px;
  }

  .DigEco {
    background: #f5f5f5 url('../img/digeco.jpg') no-repeat;
    height: 700px;
  }

  .Button:first-child {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    z-index: 2;
    left: 0px;
    height: 630px;
    width: 50%;
  }

  .Button:last-child {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    opacity: 0;
    right: 0px;
    height: 630px;
    width: 50%;
  }

  .News {
    margin: 2%;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 1%;
    flex-direction: row;
  }

  .News:hover {
    box-shadow: 0 0 10px grey;
  }
}
