.Nat h3 {
  font-size: 32px;
}

.Nat div {
  display: flex;
  justify-content: space-between;
}

.Nat p {
  font-size: 18px;
}

.Reg  h3 {
  font-size: 32px;
}

.Reg ul {
  font-size: 18px;
}

.Reg li {
  margin: 2% 0;
}

.Reg a {
  color: white;
  text-decoration: none;
}

.Reg a:focus,
.Reg a:hover {
  font-weight: bold;
}

@media (min-width: 768px) {
  .Reg  h3 {
    font-size: 36px;
  }

  .Reg ul {
    font-size: 28px;
  }

  .Nat p {
    font-size: 28px;
  }

  .Nat h3 {
    font-size: 36px;
  }
}

@media (min-width: 1200px) {
  .HomeProject {
    display: flex;
    justify-content: space-between;
  }

  .Nat {
    width: 45%;
    margin: auto 3%;
  }

  .Nat h3 {
    font-size: 32px
  }

  .Nat div {
    display: flex;
  }

  .Nat p {
    font-size: 24px
  }

  .Reg {
    width: 35%;
    margin: auto 3%;
    z-index: 3;
  }

  .Reg  h3 {
    font-size: 32px
  }

  .Reg ul {
    font-size: 24px
  }

  .Reg li {
    margin: 2% 0;
  }

  .Reg a {
    color: white;
    text-decoration: none;
  }
}
